benchmark/*

gem5/full_system_images/*
gem5/build/*

gpgpu-sim-complete/libcuda/cuobjdump_lexer.c
gpgpu-sim-complete/libcuda/cuobjdump_parser.c
gpgpu-sim-complete/libcuda/cuobjdump_parser.h
gpgpu-sim-complete/libcuda/cuobjdump_parser.output
gpgpu-sim-complete/lib/*
gpgpu-sim-complete/cuobjdump_to_ptxplus/elf_lexer.cc
gpgpu-sim-complete/cuobjdump_to_ptxplus/elf_parser.cc
gpgpu-sim-complete/cuobjdump_to_ptxplus/elf_parser.hh
gpgpu-sim-complete/cuobjdump_to_ptxplus/elf_parser.output
gpgpu-sim-complete/cuobjdump_to_ptxplus/header_lexer.cc
gpgpu-sim-complete/cuobjdump_to_ptxplus/header_parser.cc
gpgpu-sim-complete/cuobjdump_to_ptxplus/header_parser.hh
gpgpu-sim-complete/cuobjdump_to_ptxplus/header_parser.output
gpgpu-sim-complete/cuobjdump_to_ptxplus/lex.ptx_.c
gpgpu-sim-complete/cuobjdump_to_ptxplus/ptx.output
gpgpu-sim-complete/cuobjdump_to_ptxplus/ptx.tab.c
gpgpu-sim-complete/cuobjdump_to_ptxplus/ptx.tab.h
gpgpu-sim-complete/cuobjdump_to_ptxplus/sass_lexer.cc
gpgpu-sim-complete/cuobjdump_to_ptxplus/sass_parser.cc
gpgpu-sim-complete/cuobjdump_to_ptxplus/sass_parser.hh
gpgpu-sim-complete/cuobjdump_to_ptxplus/sass_parser.output
gpgpu-sim-complete/build/*

*~
